<div class="container">
  <h1>Shorten another URL</h1>
  <%= render 'form' %>
  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'Back', urls_path, class: 'btn btn-danger btn-block' %>
    </div>
  </div>
</div>